src/main/resources/ws/xml/Person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Person" type="PersonType"/>
    <xs:complexType name="PersonType">
        <xs:sequence>
            <xs:element type="xs:string" name="First-Name"/>
            <xs:element type="xs:string" name="Last-Name"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>